<div class="container flex gap-6 my-12 justify-center items-center">
  <button class="button">Explore</button>
</div>

<div class="container border-purple-400 border-4">
  <h1>Space</h1>
  <h2>Lorem ipsum dolor sit.</h2>
  <h3>Lorem ipsum dolor sit.</h3>
  <h4>Lorem ipsum dolor sit.</h4>
  <h5>Lorem ipsum dolor sit.</h5>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et error delectus
    dolore optio nostrum consectetur quas excepturi, voluptate quam consequuntur
    aliquam officia hic expedita a eos in? Quia sint perspiciatis sunt debitis
    qui ea nihil libero aliquid reprehenderit in. Ex explicabo ea earum corrupti
    molestiae voluptatum atque dolorem repudiandae hic, sit in, quia commodi!
    Maiores odio at autem error repellendus labore consectetur! Aperiam expedita
    impedit eos dolor nihil dolorem autem, laborum provident ducimus iste qui
    corrupti est enim fuga, doloribus quisquam sint sapiente pariatur vitae
    aspernatur blanditiis quis minus deleniti! Id similique, perferendis enim
    esse voluptas doloremque. Praesentium vitae esse perferendis fugiat minima
    atque debitis officiis nobis soluta rem. Voluptas possimus neque atque id
    laudantium temporibus nulla veniam magnam, vel perferendis, enim nostrum
    repudiandae porro sequi, maiores consequatur suscipit accusantium ducimus
    autem? Quibusdam autem qui cumque temporibus dolores perspiciatis aspernatur
    explicabo! Possimus officia tempore consectetur rerum suscipit consequuntur
    at sapiente quo beatae nisi quisquam velit quae dolores, temporibus atque.
    Eum fuga vitae provident corporis doloribus numquam! Velit illum ipsum
    nostrum placeat consectetur, quod, enim pariatur sapiente deserunt magni
    recusandae saepe, quo ullam corporis voluptatum aperiam sit earum
    consequuntur! Aspernatur voluptas quasi culpa, iure hic voluptates
    doloremque accusamus dolorum officiis obcaecati vero ipsam mollitia ipsa
    molestias animi nesciunt pariatur nihil exercitationem modi iste ex eius
    iusto quis at! Magnam earum magni modi natus blanditiis numquam? Maiores
    molestiae quaerat aliquid eos tenetur molestias soluta pariatur. Provident
    similique at sint qui sunt rem sit architecto ipsum voluptas natus? Odit
    quos explicabo pariatur dolor, magnam fugit possimus ex qui unde accusamus
    eaque voluptates delectus dicta? Aspernatur adipisci praesentium sequi
    veritatis vero quis eligendi blanditiis, dolorum, aperiam quibusdam iusto
    corporis provident, nisi doloremque nulla! Minus nisi a iusto dolorem
    similique ab enim mollitia. Tempore maiores eius voluptate. Quos sapiente,
    aut ea recusandae, porro ipsa, explicabo molestias modi dolorem quia
    adipisci minima dignissimos aperiam quasi! Provident laudantium ex
    reiciendis placeat voluptate, tempore vitae ducimus quod enim deserunt
    facere rem illum quos quo? Corrupti aliquid in magni ullam nihil. Doloremque
    cum iste ad fugit, exercitationem maiores sint quasi dolorem voluptatum nam
    laborum unde, excepturi quaerat! Aspernatur ipsa, modi itaque repudiandae
    reiciendis dolorem at dignissimos laborum, saepe unde deleniti et deserunt
    excepturi eaque obcaecati? Debitis laborum ratione minus eaque eveniet sed
    rem eius repellendus molestias porro natus neque fugit itaque earum, ullam
    quo! Dicta error deserunt facilis sit iure dolorum unde ex quas dolore rerum
    voluptas pariatur asperiores qui harum odio officiis, magni molestias
    praesentium eligendi nulla cupiditate, maxime excepturi! Repellendus saepe
    voluptas accusamus porro aut numquam cumque, repellat, iure deserunt nemo
    est molestiae assumenda, enim itaque consequatur hic necessitatibus ducimus
    facilis? Dignissimos perferendis recusandae dolore autem non porro odit est
    doloremque suscipit. Doloribus officiis fuga veritatis unde atque hic natus!
    Nulla error facilis magnam. Inventore itaque dolor reprehenderit at aperiam.
    Fugiat tempora fugit nostrum, reiciendis ab quasi dolore hic doloremque
    explicabo deserunt excepturi ea facere repellat sapiente inventore et ex
    earum? Nobis modi corrupti dolore, eligendi cum delectus nisi voluptatem non
    iusto dicta, unde molestiae porro harum ullam totam iure aspernatur impedit,
    asperiores laborum aliquam. Eaque impedit dolorum voluptate earum voluptatum
    cum, quos error excepturi in. Doloribus magnam dolorum iste, nam reiciendis
    fuga adipisci maiores quidem. Expedita, eaque qui culpa laborum
    necessitatibus eos nesciunt voluptates neque. Veniam impedit ipsam
    praesentium ea eius non cum, accusamus sequi sunt autem nobis. Voluptates,
    pariatur molestiae ab quaerat corporis facilis nemo modi quae aut alias non
    sapiente iste sed tempore officia. Corporis eius dolorem magni ipsam. Quia,
    rerum error nihil fugit a nostrum molestiae quaerat ratione ab, repellat et.
    Laborum quia obcaecati accusamus iusto omnis dignissimos veniam, esse quod
    facere libero nobis molestias tempore unde fuga iste, ad ea. Voluptate,
    officiis tempore, reiciendis accusantium harum ad sint, magnam alias
    adipisci officia pariatur quam assumenda iusto. Neque repellendus dolorum
    minima! Praesentium beatae harum quaerat accusantium placeat quo dolor,
    exercitationem facere ex esse inventore labore modi cum ratione eum nemo
    ipsam possimus incidunt unde? Obcaecati, accusamus quae libero provident
    atque possimus quas et autem sapiente voluptatibus quidem fugiat voluptatum
    earum ipsum quo enim, repellat accusantium eum velit eos tenetur soluta.
    Reiciendis quo nihil, cum totam sunt architecto deserunt optio atque sed
    quis blanditiis culpa repudiandae accusamus, earum qui, esse quia et
    inventore aut quaerat voluptate a porro. Ratione provident qui est.
    Perspiciatis, ullam quidem doloribus quo maiores quam? Atque sit optio
    voluptatibus? Fuga temporibus vero alias nostrum quis qui, odit explicabo!
    Et quasi ducimus quisquam incidunt dolorem architecto. At rem quae,
    architecto voluptatem praesentium recusandae alias magni quis dolorem vitae
    quam tempora tempore eos eligendi culpa provident facilis, aperiam placeat
    cupiditate amet commodi mollitia laborum. Accusamus veritatis vel
    consequuntur enim illum labore voluptas nisi, accusantium sunt fugit
    eligendi assumenda reiciendis culpa aliquid corrupti doloribus porro eaque
    optio debitis possimus perspiciatis similique inventore suscipit. Blanditiis
    esse eius sequi magnam amet quisquam saepe aut sed aspernatur similique
    sapiente suscipit id hic ipsam dolores nemo quos ut dolorem, sunt quas
    molestiae laboriosam tempora quam asperiores? Blanditiis voluptates
    voluptatem tempora? Adipisci eos mollitia itaque quaerat cupiditate! Sunt
    debitis, sit odio esse optio animi, totam voluptates obcaecati suscipit
    aliquam molestias illum, ducimus quas quibusdam quod dicta itaque hic
    accusamus? Praesentium, neque quis numquam voluptas quam hic laudantium
    perspiciatis! Corrupti, molestias illo. Neque magni totam atque corporis ex
    dolorum beatae tempore cumque! Facere modi aut facilis laboriosam eaque
    labore sunt velit dolorum necessitatibus, nostrum possimus voluptates
    voluptatibus laborum et unde tenetur dolor culpa. Sequi in, magni esse sunt
    suscipit illo expedita eum laborum similique doloremque sed consectetur
    fugit fugiat libero qui saepe. Illum itaque placeat enim reprehenderit!
    Veniam harum repellendus, quo iure fugiat iusto dolores eveniet quidem eaque
    ullam tempora repudiandae similique doloribus? Unde perferendis debitis
    inventore laudantium sunt eligendi molestias, omnis facilis nulla harum,
    nemo saepe, ducimus veniam rem repellat? Architecto voluptatem recusandae
    unde rerum quidem cum quis placeat repudiandae accusantium, quo, vitae
    praesentium consequuntur at est nobis aut dolore itaque! Reprehenderit
    ducimus pariatur corrupti recusandae dignissimos voluptatibus aliquam, a
    vero distinctio sed perspiciatis culpa deserunt nulla excepturi voluptates
    magni molestiae, deleniti quas placeat mollitia dolor harum sapiente.
  </p>
</div>
